<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orderway.system.bus.modular.auth.mapper.DataHandlerMapper">


    <select id="sel_data_by_appid_key" resultType="map">
        select *
        from sys_app
        where app_id = #{app_id} and app_key = #{app_key}
    </select>



    <update id="up_app_token">
        update sys_app set app_token  = #{app_token}

        where app_id = #{app_id} and app_key = #{app_key}
    </update>

    <update id="up_app_id_key">
        update sys_app set app_id = #{app_id} , app_key = #{app_key}

        where id = #{id}
    </update>

</mapper>
