<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orderway.system.bus.modular.account.mapper.SysAccountMapper">

    <select id="list" resultType="map">
        select a.account,a.code,
               a.sort,a.remark1,a.remark2,
               a.status
        from sys_account a
        where a.id in
            (
            select account_id
            from
                sys_user_account b
            where
                b.user_id = #{id}
            )
        order by a.sort asc
    </select>

    <select id="UserByAccountId" resultType="com.orderway.system.bus.modular.user.entity.SysUser">
        select a.*
        from sys_user a
        where a.id =
              (
                  select user_id
                  from
                      sys_user_account b
                  where
                      b.account_id = #{id}
              )
    </select>

</mapper>